@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #080d27;
}

@theme {
  --color-p1: #2ef2ff;
  --color-p2: #3c52d9;
  --color-p3: #c8ea80;
  --color-p4: #eaedff;
  --color-p5: #c4cbf5;
  --color-s1: #080d27;
  --color-s2: #0c1838;
  --color-s3: #334679;
  --color-s4: #1959ad;
  --color-s5: #263466;
}

@layer components {
  .body-3 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }

  .faq-line_after::after {
    content: "";
    position: absolute;
    top: -6px;
    left: calc(50%-5px);
    z-index: 4;
    size: 10px;
    border-radius: 50%;
    border: 2px var(--color-s2) solid;
  }

  .faq-glow_before::before {
    content: "";
    position: absolute;
    top: -160px;
    left: calc(50%-160px);
    z-index: 4;
    size: 320px;
    border-radius: 50%;
    border: 2px var(--color-s4/25) solid;
    mix-blend-mode: soft-light;
    filter: blur(200px);
  }

  .faq-icon::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 12px;
    background-color: var(--color-p3);
  }

  .faq-icon::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 12px;
    rotate: 90deg;
    background-color: var(--color-p3);
    transition: all 0.5s ease;
  }

  .outer-line::after {
    content: "";
    width: 100%;
    height: 104%;
    background-color: var(--color-p1);
    border-radius: 50px;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0;
    padding: 0 0 3px 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: left;
  }

  .outer-line:hover::after {
    opacity: 1;
    transform: scale(1);
    transform-origin: right;
  }

  .custom-shadow:hover {
    box-shadow: 0 0 20px rgb(129, 129, 129);
  }

  .glow::after {
    content: "";
    width: 100%;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    transform: translate(-50% -50%);
    height: 100%;
    border-radius: 100%;
    z-index: 55;
    position: absolute;
    background-color: white;
  }

  .active {
    color: rgb(255, 255, 118);
  }

  .glow:hover::after {
    padding: 20px;
    z-index: 33;
    backdrop-filter: blur(10px);
  }
  .g1 {
    background: linear-gradient(rgba(196, 203, 245, 0.5), transparent);
  }

  .g2 {
    background: linear-gradient(#3062a3, #19549f);
  }

  .g3 {
    background: linear-gradient(#3c52d9, #0c1838);
  }

  .g4 {
    background: linear-gradient(#253575, #162561);
  }

  .g5 {
    background: linear-gradient(#334679, #162561);
  }

  .g6 {
    background: linear-gradient(#334679, #0c1838);
  }

  .g7 {
    background: linear-gradient(45deg, #1b275a, #0e1434);
  }

  .g8 {
    background: linear-gradient(to right, transparent, #2ef2ff, transparent);
  }

  .g9 {
    background: linear-gradient(#080d27, transparent);
  }
  .list {
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
  }
  .list:hover {
    color: var(--color-p1);
  }

  .dots {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: rgb(8, 68, 165);
  }

  .container {
    margin: 0 auto;
    max-width: 1252px;
    padding: 0 4rem;
  }

  .container-2 {
    margin-inline: auto;
    max-width: 1252px;
    padding-inline: 4rem;
  }
}
